<h1>About MustDU</h1>
<p>To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put-off. To address the problem of to-do list clutter, we've created MustDU.</p> 
<p>MustDU will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after 7 days. The hypothesis is that if the to-do item is not important enough to be completed in 7 days, it doesn't belong on your to-do list.</p>
<p>Created by: Harry Levine</p>
