@import "bootstrap";

.deleted {
  display: none;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.italicize {
  font-style: italic;
}

.margin-top {
  margin-top: 20px;
}

#description-column-width {
  width: 60%;
}

#enter-description-form-field {
  width: 75%;
  display: inline;
}

#new_mustdo {
  background: rgb(231, 16, 30);
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 50px;
}

#description-label {
  color: white;
  text-transform: uppercase;
  padding-right: 5px;
}

#your-mustdo-title {
  text-align: center;
}

.column-center-align {
  text-align: center;
}

.colored-header {
  background: rgb(229, 54, 26);
  color: white;
}

.colored-rows {

}

#save-description-button {

}